<detail-wrapper v-on="$listeners" v-bind="$props">
  <template slot="custom-tabs">
    <v-tab href="#tabFormly">
      {{ $t('core.common.editText') }}
      <v-icon>mdi-pen</v-icon>
    </v-tab>
  </template>

  <template v-slot:custom-tab-items="{ value }">
    <v-tab-item value="tabFormly">
      <v-card flat tile>
        <v-form>
          <v-container fluid>
            <v-row class="px-3">
              <v-col cols="12" sm="6">
                <v-text-field
                  v-model="value.UserName"
                  :rules="nameRules"
                  :label="$t('core.users.detail.newTitle')"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  v-model="value.Email"
                  :rules="emailRules"
                  :label="$t('core.users.detail.newEmail')"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row class="px-3">
              <v-col>
                <v-text-field
                  v-model="value.Roles.join(',')"
                  :rules="roleRules"
                  :label="$t('core.users.detail.newRoles')"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card>
    </v-tab-item>
  </template>
</detail-wrapper>
