<v-layout
  class="flex-column justify-center"
  :class="{'fill-height': shouldCenter, 'align-center': shouldCenter }"
>
  <link rel="stylesheet" href="/modules/shared/components/data-table/data-table.css" />

  <atom-spinner
    :animation-duration="1000"
    :size="80"
    :color="'#64B5F6'"
    v-if="isLoading && isFirstLoad"
  ></atom-spinner>

  <template v-if="!isLoading && isEmpty">
    <slot name="empty-content">
      {{ $t('core.common.emptyTableMsg') }}
    </slot>
  </template>

  <v-data-table
    light
    class="elevation-1 rawcms-data-table"
    v-if="!isFirstLoad && !isEmpty"
    item-key="_id"
    :headers="headers"
    :items="items"
    :items-per-page.sync="cmpPageSize"
    :loading="isLoading"
    :page.sync="cmpCurrentPage"
    :sort-by.sync="cmpSortBy"
    :sort-desc.sync="cmpSortDesc"
    :server-items-length="totalItemsCount"
    @click:row="goTo($event)"
  >
    <template v-for="(header, index) in dataHeaders" v-slot:[getTemplateName(header)]="slotProps">
      <div :key="index">
        <slot :name="getTemplateName(header)" v-bind="slotProps">
          {{ slotProps.item[header.value] }}
        </slot>
      </div>
    </template>

    <template v-slot:item.action="{ item }">
      <slot name="item.action">
        <v-btn icon @click.stop="goTo(item)" v-if="!item._meta_.isDeleting">
          <v-icon>mdi-pencil-outline</v-icon>
        </v-btn>
        <v-btn icon @click.stop="showDeleteConfirm(item)">
          <v-icon v-if="!item._meta_.isDeleting">mdi-delete-outline</v-icon>
          <v-progress-circular v-if="item._meta_.isDeleting" indeterminate></v-progress-circular>
        </v-btn>
      </slot>
    </template>
  </v-data-table>

  <v-dialog persistent v-model="isDeleteConfirmVisible">
    <slot name="delete-dialog">
      <v-card>
        <v-card-title class="headline">
          {{ $t('core.common.deleteConfirmTitle') }}
        </v-card-title>
        <v-card-text>
          {{ deleteConfirmMsg(currentItem) }}
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click.stop="dismissDeleteConfirm()">
            {{ $t('core.common.cancelBtnText') }}
          </v-btn>
          <v-btn color="error" text @click.stop="deleteItem(currentItem)">
            {{ $t('core.common.okBtnText') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </slot>
  </v-dialog>
</v-layout>
