<v-menu
  :close-on-content-click="false"
  transition="scale-transition"
  offset-y
  v-model="isMenuVisible"
>
  <template v-slot:activator="{ on }">
    <v-text-field
      prepend-icon="mdi-calendar"
      :id="to.id"
      :label="label"
      :rules="errorMsgs"
      readonly
      v-on="{ ...basicListeners, ...on }"
      v-model="dateFormatted"
    ></v-text-field>
    {{ typeof(value) }} {{ value }} {{ modelValue }}<br />
  </template>
  <v-date-picker v-model="value" @input="closeMenu()"></v-date-picker>
</v-menu>
