<v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app dark color="primary">
  <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
    <v-app-bar-nav-icon @click.stop="toggleDrawer()"></v-app-bar-nav-icon>
    <span class="hidden-sm-and-down">Raw CMS</span>
  </v-toolbar-title>
  <div class="flex-grow-1"></div>
  <v-btn icon large>
    <v-menu left bottom>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on">
          <v-avatar size="32px" item>
            <v-img src="/modules/core/assets/logo.svg" alt="Raw CMS"></v-img>
          </v-avatar>
        </v-btn>
      </template>

      <v-list>
        <v-list-item @click="logout();">
          <v-list-item-title>logout</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-btn>
</v-app-bar>
