<v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app dark color="primary">
  <v-app-bar-nav-icon @click.stop="toggleDrawer()" class="mr-1"></v-app-bar-nav-icon>
  <v-toolbar-title class="ml-0 pl-0">
    <span class="hidden-sm-and-down">Raw CMS</span>
  </v-toolbar-title>
  <v-spacer></v-spacer>
  <v-toolbar-items>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn text icon color="yellow" v-on="on" @click="reloadBackend()">
          <v-icon>mdi-cached</v-icon>
        </v-btn>
      </template>
      <span>Reload backend</span>
    </v-tooltip>
  </v-toolbar-items>
</v-app-bar>
