<v-row>
  <v-col cols="3">
    <v-card tile height="300" :loading="isLoading" class="mb-4">
      <v-card-title>
        {{ $t('core.home.totalRecordsText') }}
      </v-card-title>
      <v-card-text class="display-4 font-weight-black">
        {{ totalRecordsNum }}
      </v-card-text>
    </v-card>
    <v-card tile height="300" :loading="isLoading">
      <v-card-title>
        {{ $t('core.home.entitiesNumText') }}
      </v-card-title>
      <v-card-text class="display-4 font-weight-black">
        {{ optionalChain(() => this.info.entitiesNum) }}
      </v-card-text>
    </v-card>
  </v-col>
  <v-col cols="9">
    <v-card tile height="616" :loading="isLoading">
      <v-card-title>
        {{ $t('core.home.recordsQuotaText') }}
      </v-card-title>
      <v-card-text class="d-flex justify-center" style="height:552px">
        <pie-chart
          :context="recordQuotasChartData"
          :options="chartOptions"
          cssClasses="fill-container-chart"
        />
      </v-card-text>
    </v-card>
  </v-col>
</v-row>
