<v-row>
  <v-col align="center" align-self="center">
    <div>
      <strong>{{ $t('core.home.totalRecordsText')}}</strong> {{ totalRecordsNum }}<br />
      <strong>{{ $t('core.home.entitiesNumText') }}</strong> {{ optionalChain(() =>
      this.info.entitiesNum) }}<br />
      <strong>{{ $t('core.home.apiCallsText') }}</strong> {{ optionalChain(() =>
      this.info.lastWeekCallsNum) }}<br />
    </div>
  </v-col>
  <v-col align="center" align-self="center">
    <div>
      <strong>{{ $t('core.home.recordsQuotaText') }}</strong><br />
      <pie-chart :context="recordQuotasChartData" :options="chartOptions" />
    </div>
  </v-col>
</v-row>
