<v-layout class="flex-column">
  <link rel="stylesheet" href="/modules/core/components/lambda-editor/lambda-editor.css" />

  <h1>{{ $t('core.lambdas.title') }}</h1>

  <v-layout class="flex-column justify-center align-self-center fill-height" v-if="isLoading">
    <atom-spinner :animation-duration="1000" :size="80" :color="'#64B5F6'"></atom-spinner>
  </v-layout>

  <v-layout class="flex-column justify-center align-self-center fill-height" v-if="!isLoading ">
    <v-form v-model="valid">
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="data.Name"
              :rules="nameRules"
              :counter="10"
              label="Name"
              required
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6">
            <v-text-field
              v-model="data.Path"
              :rules="nameRules"
              :counter="10"
              label="Path"
              required
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="12" md="12">
            <monaco-editor
              style="width:900px;height:600px;"
              v-model="data.Code"
              language="javascript"
              :amdRequire="amdRequire"
            />
          </v-col>
        </v-row>
      </v-container>

      <v-btn :disabled="!valid" color="success" class="mr-4" @click="save">
        Validate
      </v-btn>
    </v-form>
  </v-layout></v-layout
>
