<v-layout class="flex-column">
  <h1>{{ title }}</h1>
  <v-expansion-panel>
    <v-expansion-panel-header>filter</v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-row class="flex-grow-0">
        <v-col>
          <monaco-editor
            ref="monaco"
            class="fill-height"
            v-model="txtQuery"
            :options="monacoOptions"
            :amdRequire="amdRequire"
            @editorDidMount="resizeMonaco()"
          ></monaco-editor>
        </v-col>
        <v-col><v-btn @click="filter()">filter</v-btn></v-col>
      </v-row>
    </v-expansion-panel-content>
  </v-expansion-panel>
  <v-row>
    <v-col>
      <collection-table
        :collectionName="collectionName"
        :externalRawQuery="parseQuery"
      ></collection-table>
    </v-col>
  </v-row>
  <v-fab-transition>
    <v-btn color="primary" fab fixed bottom right @click.stop="goToCreateView()">
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </v-fab-transition>
</v-layout>
