<v-layout class="flex-column">
  <link rel="stylesheet" href="/modules/core/components/users-list/users-list.css" />

  <h1>Users</h1>

  <v-layout class="flex-column justify-center align-self-center fill-height" v-if="isLoading">
    <atom-spinner :animation-duration="1000" :size="80" :color="'#64B5F6'"></atom-spinner>
  </v-layout>

  <v-layout
    class="flex-column justify-center align-self-center fill-height"
    v-if="!isLoading && users.length <= 0"
  >
    {{ $t('core.entities.emptyMsg') }}
  </v-layout>

  <v-row v-if="!isLoading && users.length > 0">
    <v-col>
      <v-list class="elevation-1">
        <v-list-item v-for="usr in users" :key="usr._id" @click.stop="goTo(usr._id)">
          <v-list-item-content>
            <v-list-item-title v-html="usr.UserName"></v-list-item-title>
          </v-list-item-content>
          <v-list-item-icon :class="{'force-show': usr._meta_.isDeleting}">
            <v-btn icon @click.stop="showDeleteConfirm(usr)">
              <v-icon v-if="!usr._meta_.isDeleting">mdi-delete-outline</v-icon>
              <v-progress-circular v-if="usr._meta_.isDeleting" indeterminate></v-progress-circular>
            </v-btn>
          </v-list-item-icon>
        </v-list-item>
      </v-list>
    </v-col>
  </v-row>

  <v-dialog persistent v-model="isDeleteConfirmVisible">
    <v-card>
      <v-card-title class="headline">
        {{ $t('core.common.deleteConfirmTitle') }}
      </v-card-title>
      <v-card-text>
        {{ $t('core.common.deleteSuccessMsgTpl', { name: currentUser.UserName }) }}
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click.stop="dismissDeleteConfirm()">
          {{ $t('core.common.cancelBtnText') }}
        </v-btn>
        <v-btn color="error" text @click.stop="deleteEntity(currentUser)">
          {{ $t('core.common.okBtnText') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-fab-transition>
    <v-btn color="primary" fab fixed bottom right>
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </v-fab-transition>
</v-layout>
