@page
@model RawCMS.IndexModel
@{
}

<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
        p {
            text-align: center;
        }
        a {
            text-align: center;
            font-size: 30px;
            color: black !important;
            text-decoration: none !important;
            font-style: inherit;
            font-variant: none;
            font-weight: bold;
            text-align:center
        }
            a:hover {
                color: #f2c315 !important;
            }
    </style>
</head>
<body>
   
    <p>
        <img src="~/logo.png" />
        <br />
        <a href="/swagger/"><b>Swagger</b></a><br />
        <a href="https://github.com/arduosoft/RawCMS"><b>Raw CMS on github</b></a><br />
        <a href="https://github.com/arduosoft/RawCMS/wiki"><b>Doc</b></a><br />
    </p>
    
</body>
</html>